.pulse { 

    // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │                            CURATED ACCOUNTS                             │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .pulse_ig_curated {
        .andyp-grid {

            &__cell{
    
                &-icon {
                    top: 29px;
                }
                &-channel {
                    top: 87px;
                }
                &-text {
                    top: 145px;
                    position: absolute;
                }
    
            }
        }
    }
    
}