.pulse { 


     // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │                                  HEADER                                 │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .pulse_it_header {
        .andyp-grid {
            &__cell {

                background: #000;

                &-link {
                    margin-bottom: 0px;
                }
                &-sideblend {
                    display: block;
                    background: linear-gradient(to right, #000, #000 25%, rgba(0,0,0,0) 60%);
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                }
                &-image {
                    background-size: auto 700px;
                    background-position: center;
                }

                &-meta {
                    color: #f5f5f5;
                }

                &-info {    
                    position: absolute;
                    top: 29px;
                    left: 8.33%;
                    width: 25%;
                    padding: 29px 0px;
                }

                &-channeltitle {
                    margin-bottom: 29px;
                    line-height: 58px;
                    display: inline-block;
                }
                &-profile_pic {
                    height: 29px;
                    margin-right: 10px;
                    position: relative;
                    display: inline-block;
                    left: 0px;
                    top: 0px;
                }
                &-title {
                    height: initial;
                    padding: 0px;
                    line-height: 29px;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    padding-left: 0px;
                    border-radius: initial;
                    font-size: 29px;
                    white-space: initial;
                }

                &-date {
                    left: 0px;
                    padding: 0px;
                    color: #D0C8B3;
                }
            }
        }

    }
}