.pulse { 

    // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │                            BASE - ALL CELLS                             │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░


    .andyp-grid {

        &__cell{

            &-channel {
                font-size: 2em;
                position: absolute; 
                top:29px;
                left: 50%;
                color: $white;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
            }

            &-title {
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 29px 25% 0px 35px;
            }
        }
    }

    // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │                              PULSE HEADER                               │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .pulse_header {
        .andyp-grid {
            &__cell {

                background: #000;

                &-link {
                    margin-bottom: 0px;
                }
                &-sideblend {
                    display: block;
                    background: linear-gradient(to right, #000, #000 25%, rgba(0,0,0,0) 60%);
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                }
                &-image {
                    background-size: auto 700px;
                    background-position: right;
                }

                &-meta {
                    color: #f5f5f5;
                }

                &-info {    
                    position: absolute;
                    top: 29px;
                    left: 8.33%;
                    width: 25%;
                    padding: 29px 0px;
                }

                &-channeltitle {
                    margin-bottom: 29px;
                }

                &-title {
                    height: initial;
                    padding: 0px;
                    line-height: 29px;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    padding-left: 0px;
                    border-radius: initial;
                    font-size: 29px;
                    white-space: initial;
                }

                &-date {
                    left: 0px;
                    padding: 0px;
                    color: #D0C8B3;
                }
            }
        }

    }





    // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │                          FULL-WIDTH PLAYLISTS                           │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    .pulse_yt_parkourpulse_playlists {

        padding: 116px 0px 116px 116px; 
        background: #000;
        margin-top:116px;
        margin-left: -20%;

        .andyp-grid {
            &__cell {

                &-image {
                    background-size: 100%;
                }
                &-overlay {
                    background-color: initial;
                }
                &-title {
                    padding: 0px;
                    height: initial;
                    border-radius: 0px;
                    position: relative;
                    line-height: 58px;
                }
                &-icon {
                    line-height: initial;
                    top:116px;
                }
                &-description {
                    color: #757575;
                    
                }
                &-date {
                    position: relative;
                    right: initial;
                    padding: initial;
                }
            }
        }

        .flickity-page-dots {
            bottom: -58px;
            .dot {
                background: #757575;
            }
        }

    }
    


    // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │                         CIRCULAR SUBSCRIPTIONS                          │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .pulse_yt_parkourpulse_subscriptions {
        .andyp-grid__cell-title {
            color: #fff;
            height: 29px;
            max-width: 100%;
            overflow: hidden;
            position: absolute;
            bottom: 29px;
            width: auto;
            border-radius: 0px;
            text-align: center;
            line-height: 29px;
            left: 50%;
            transform: translateX(-50%);
            padding: 0px 20px;
            background: rgba(36, 36, 36,0.5) !important;

            .andyp-grid__cell-icon {
                display: none;
            }
        }
        .andyp-grid__cell-image {
            border-radius: 50%;
        }
        .floorfade {
            background: none;
        }
        .andyp-grid__cell-date {
            display: none;
        }
        .andyp-grid__cell-overlay {
            background: transparent;
        }
    }


    // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │                       BEYONDPARKOUR SUBSCRIPTIONS                       │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .yt_pulse_beyondparkour {
        .andyp-grid__cell {
            &-title {
                color: #fff;
                height: 29px;
                padding: 0px 0px 0px 24px;
                line-height: 29px;
                overflow: hidden;
                position: absolute;
                bottom: -29px;
                width: 100%;
                border-radius: 0px;
            }
            &-icon {
                position: absolute;
                bottom: 0px;
                left: 0px;
                color: #fff;
                width: 19px;
                height: 23px;
            }
            &-date {
                display: none;
            }
            &-overlay {
                background: transparent;
            }
        }
        
        .floorfade {
            background: none;
        }
    }


    // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │              FULL-WIDTH BEYONDPARKOUR RELATED TOPICS                    │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    .yt_pulse_beyondparkour_related {

        padding: 116px 0px 116px 116px; 
        background: #F5F5F5;
        margin-top:116px;
        margin-left: -20%;

        .andyp-grid {
            &__cell {

                &-overlay .andyp-grid__cell-icon
                {
                    color: #38EF7D;
                }
                &-image {
                    background-size: 100%;
                }
                &-overlay { 
                    background-color: initial;
                }
                &-title { 
                    padding: 0px;
                    height: initial;
                    border-radius: 0px;
                    position: relative;
                    line-height: 58px;
                    color: #242424;
                }
                &-icon {
                    line-height: initial;
                    top:116px;
                }
                &-description {
                    color: #757575;
                    
                }
                &-date {
                    position: relative;
                    right: initial;
                    padding: initial;
                }
            }
        }

        .flickity-page-dots {
            bottom: -58px;
            .dot {
                background: #757575;
            }
        }
    }
    


    // ┌─────────────────────────────────────────────────────────────────────────┐ 
    // │                                                                         │░
    // │                                                                         │░
    // │              FULL-WIDTH LONDONPARKOUR (LEARN) PLAYLISTS                 │░
    // │                                                                         │░
    // │                                                                         │░
    // └─────────────────────────────────────────────────────────────────────────┘░
    //  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    .yt_pulse_learn {

        .andyp-grid {
            &__cell {

                &-image {
                    background-size: 100%;
                }
                &-overlay {
                    background-color: initial;
                }
                &-title {
                    padding: 0px;
                    height: initial;
                    border-radius: 0px;
                    position: relative;
                    line-height: 58px;
                }
                &-icon {
                    line-height: initial;
                    top:116px;
                }
                &-description {
                    color: #757575;
                    
                }
                &-date {
                    position: relative;
                    right: initial;
                    padding: initial; 
                }
            }
        }

        .flickity-page-dots {
            bottom: -58px;
            .dot {
                background: #757575;
            }
        }
    }
}