// ┌─────────────────────────────────────┐ 
// │                                     │░
// │                                     │░
// │              AMP Menu               │░
// │                                     │░
// │                                     │░
// └─────────────────────────────────────┘░
//  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 

@mixin logo-ldnpk($stroke: 242424, $strokewidth: 8){
    $stroke: encodecolor($stroke);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 185 120'%3E%3Cg id='ldnpk' fill='none'%3E%3Cpath d='M24,24 L24,96 L106.639907,96 L59.9640453,24 L24,24 Z M78.3600926,24 L125.035955,96 L161,96 L161,24 L78.3600926,24 Z' id='ldnpk' stroke='#{$stroke}' stroke-width='#{$strokewidth}'/%3E%3C/g%3E%3C/svg%3E");
}

.amp {
    .main-navigation {
    
        position: relative;
        width: 100%;
        background-color: $night;
        height: 58px;
    
        .hamburger {
            color: $white;
            line-height: 58px;
            margin-left: 29px;
        }
    
        //  ┌────────────────────────────────────────────────┐
        //  │       Show the mobile londonparkour logo       │
        //  └────────────────────────────────────────────────┘
        .main-navigation__mobile-logo {
            display: block;
            position: absolute;
            top: 0px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
                
            @include logo-ldnpk($white);
            background-size: 196px 58px;
            background-repeat: no-repeat;
            height:58px; 
            width:196px;
    
            &:hover {
                @include logo-ldnpk($goo);
            }
        } 
    }

    .ampsidebar {
        background-color: $night;

        .close-sidebar {
            color: $white;
            line-height: 58px;
            margin-left: 29px;
        }

        //  ┌───────────────────────────────────────────┐ 
        //  │               The Main Menu               │░
        //  └───────────────────────────────────────────┘░
        //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
        .menu-main-menu-container {

            ul.sub-menu,
            ul.menu-AMP {

                display: block;
                text-align: left;
                padding: 0px 29px 0px;

                li.menu-item {
                    width: 100%;
                    padding: 0px;
                    display: block;

                    a {
                        display: block;
                        
                        width: 100%;
                        height: 58px;
                        line-height: 58px;
                        
                        text-decoration: none;
                        font-size: 18px; 
                        white-space: nowrap;
                        color: $halo;
                    }
                }

                
            }
            ul.sub-menu {
                li.menu-item {
                    a {
                        color: $sky;
                    }
                }
            }
        }
    }  
}
