.widget-area {

    .widget_nav_menu {

        // convert h2 to h3 size.
        h2.widget-title {
            font-size: 29px;
            line-height: 58px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 400;
        }
    }
}