.classes {

    @import "mec_daily_classes/filter_bar";

    .mec-calendar-daily {
        span.dayOfWeek {
            position: absolute;
            top: -18px;
            left: 0px; 
            height: 18px;
            width: 100%;
            opacity: 0.5;
            font-size: 12px;
        }
        span.today_marker {
            position: absolute;
            top: -18px;
            left: 0px;
            height: 18px;
            width: 100%;
            font-size: 12px;
            color: #53a5e3;
            font-weight: 600;
        }

        .mec-has-event:after {
            bottom: 8px;
        }
        .mec-calendar-d-table a.mec-table-d-next,
        .mec-calendar-d-table a.mec-table-d-prev {
            text-decoration: none;
        }

        .mec-calendar-d-top {
            display: none;
        }

        .mec-calendar-day-events {
            background-color:#fff;
        }

        ul.mec-daily-view-dates-events {
            padding: 0px;

            li.mec-daily-view-date-events {
                .events {
                    display: flex;
                    flex-flow: row wrap;
                    padding: 10px;

                    .event {
                        width: 50%;
                        padding: 10px 10px 10px 10px;

                        a {
                            article {
                                min-height: 348px;
                                background-size: cover;
                                background-position: center right;
                                border-radius: 0.6vw;
                                position: relative;

                                .card-meta {
                                    position: absolute;
                                    bottom: 20px;
                                    left: 0px;
                                    padding: 20px 40px;
                                    min-width: 232px;
                                    opacity: 0.95;

                                    .highlight-today {
                                        color: #242424;
                                        margin-bottom: 10px;
                                        font-size: 18px;
                                        font-weight: 700;

                                        i {
                                            filter: url(#yellow);
                                            margin-right: 2px;
                                            width: 24px;
                                            height: 24px;
                                        }
                                    }

                                    * {
                                        color: #fff;
                                    }

                                    .mec-event-time  {

                                        font-size: 13px;
                                        font-weight: 600;
                                        i {
                                            margin: 0px 5px;
                                        }
                                    }

                                    .link {
                                        font-size: 18px;
                                        line-height: 29px;
                                        margin-top: 5px;
                                        font-weight: 700;
                                    }
                                }
                            }

                            &:hover {
                                .card-meta {
                                    background-color: #fff !important;
                                    * {
                                        color: #242424 !important;
                                    }
                                    i {
                                        filter: url(#night);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .mec-event-footer {
            a {
                color: $rose;
                margin-right: 20px;
                display: inline-block;
                line-height: 29px;

                &:hover {
                    color: #242424;
                }

                &::after {
                    width: 16px;
                    height: 16px;
                    filter: url(#rose);
                }
            }
        }

        @media (max-width: $mobile) {
            ul.mec-daily-view-dates-events {
                li.mec-daily-view-date-events {
                    .events {
                        display: flex;
                        flex-flow: row wrap;

                        .event {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
