//   ┌──────────────────────────────────────┐
//   │            Grid spacing.             │
//   │                                      │
//   │  On the Visual Composer 'inner-row'  │
//   │component you can set the space of the│
//   │  grid. Unfortunately, it adds this   │
//   │ space on the top and bottom as well, │
//   │  breaking the vertical rhythm. This  │
//   │              resets it.              │
//   └──────────────────────────────────────┘

.londonparkour {
    //  ┌──────────────────────────────────────┐
    //  │Remove all default left/right margins │
    //  │             on all rows.             │
    //  └──────────────────────────────────────┘
    .vc_row {
        margin-left: 0px;
        margin-right: 0px;

        //  ┌──────────────────────────────────────┐
        //  │Remove all default left/right margins │
        //  │    on all columns with 20px gaps.    │
        //  └──────────────────────────────────────┘
        &.vc_column-gap-20 {
            margin-left: 0px;
            margin-right: 0px;

            //  ┌──────────────────────────────────────┐
            //  │ Remove the top & bottom padding, but │
            //  │  keep all the left & right padding   │
            //  │               intact.                │
            //  └──────────────────────────────────────┘
            .vc_column_container {
                overflow: hidden;
                
                padding-top: 0px;
                padding-bottom: 0px;

                //  ┌────────────────────────────────────────────┐ 
                //  │          Grid Column Containers.           │
                //  │                                            │
                //  │  The first column - remove left padding.   │
                //  │  The last column - remove right padding.   │
                //  └────────────────────────────────────────────┘
                &:first-child { 
                    padding-left: 0px;
                }

                &:last-child {
                    padding-right: 0px;
                }
            }
        }

        //  ┌──────────────────────────────────────┐
        //  │Remove the margins on the 10px gutter │
        //  │           on the subgrids.           │
        //  └──────────────────────────────────────┘
        &.vc_column-gap-10 {
            margin-left: 0px;
            margin-right: 0px;
        }

    }
}

@media screen and (max-width: $mobile)
{
    .londonparkour {
        .vc_row {
            &.vc_column-gap-20 {
                .vc_column_container {
                    padding: 0px;
                }
            }
        }
    }
}
