
.searchresults {

    &-title {
        margin-bottom:29px;
    }

    &__search-bar {
        display: none;
    }

    &__count {
        float: right;
        font-size: 29px;
        line-height: 87px;
        font-weight: 400;
        color: #53A5E3;
        padding-right: 20px;
    }
}

.andyp-search {

    // Each cell item
    &__cell {
        display: initial;
        width: 100%;
        display: block;
        padding-right: 20px;
        counter-increment: carousel-cell;
        max-height: 290px;

        &-link { 
            text-decoration: none; 
            display: block;
            color: #242424;
            position: relative;
            margin-bottom: 29px;

            &:hover {

                .andyp-search__cell-overlay {
                    opacity:1;
                }
            }
        }

        &-overlay {
            position: absolute;
            height: 100%;
            background: rgb(0, 0, 0, 0.5);
            width: 100%;
            overflow: hidden;
            padding: 20px;
            transition: all 0.3s ease-in;  
            opacity:0;
            color: #FAFAFA;

            .andyp-search__cell-icon {
                position: relative;
                font-size: 58px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        // Each piece of meta-data
        &-meta {
            line-height: 29px;
        }

        &-content {
            display: flex;
            flex-wrap: wrap;
            background-color: #FAFAFA;
        }
                &-image {
                    border-radius: 4px;
                    background-size: cover;
                    background-position: center;
                    background-color: #FAFAFA;
                    background-repeat: no-repeat;
                    height: 145px;
                }

                &-info {
                    flex:1;
                    padding: 29px 8.33% 29px 29px;
                }



        &-title {
            color: $night;
            height: 29px;
            line-height: 19px;
            overflow: hidden;
            width: 100%;
            border-radius: 5px;
        }

        &-description {
            height: 29px;
            overflow: hidden;
        }

        &-date {
            font-size: 14px;
            color: #D0C8B3;
            padding: 0px 5px;
        }
        
        &-icon {
            line-height: 28px;
            font-size: 18px;
            color: $night;
        } 

    }

}

// Change widths on tablet.
@media (max-width: $tablet) {
    .andyp-search {   

        // Make the grid only 2xCells wide
        &__cell {
            width: 100% !important;
        }  
    }

    .searchresults__search-bar {
        display: block;
    }
}

// Change widths on tablet.
@media (max-width: $mobile) {
    .andyp-search {  

        // Make the grid only 2xCells wide
        &__cell {
            max-height: initial;
            &-image {
                width: 100%;
                height: initial;
            }
        }  
    }
}