//  ┌─────────────────────────────────────────────────────────────────────────┐ 
//  │                                                                         │░
//  │                                                                         │░
//  │                 Anything on the articlecategory page                   │░
//  │                                                                         │░
//  │                                                                         │░
//  └─────────────────────────────────────────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

.tax-articlecategory {

    .site-content {

        .content-area {
            float: right;
            margin: 29px 0 87px -16.66%;
            width: 100%;

            .site-main {
                margin: 0;
                float: right;
                width: 83.33%;
            }
        }

        .widget-area {
            margin: 29px 0px;
            padding: 0px 0px 0px 0%;
            float: left;
            overflow: hidden;
            width: 16.66%;
        }

    }
    
    .no-sidebar .content-area {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .no-sidebar .site-main {
        margin-right: 0;
    } 



    // DEFAULT (desktop) view
    .sidemenu__desktop { display: initial; }
    .sidemenu__mobile { 
        display: none; 

        width: 83.3%;
        height: 58px;
        position: absolute;
        left: 8.33%;

        select {
            height: 29px;
            border: 0px;
            width: 100%;
            margin-right: 29px;
        }
    }

    // Mobile view
    @media (max-width: $tablet) {

        // Switch menus
        .sidemenu__desktop { display: none; }
        .sidemenu__mobile { display: initial; }

        .site-content {
            .content-area {

                float: none;
                margin: 87px 8.33% 0 0;
                padding: 0px 8.33%;
                width: 100%;
                

                .site-main {
                    width: 100%;
                    margin-top: 58px;
                    overflow: hidden;

                    // Resize titles
                    h1 {  font-size: 29px; padding-left: 5px; }
                    h2 {  font-size: 29px; padding-left: 5px;}
                }
            }

            .widget-area {
                width: 100%;
                overflow: initial  !important;
                float: none !important;
            }
            
        }
    }
}