/*!
Author: Andy Pearson
Author URI: https://londonparkour.com
Description: London Parkour V4 AMP-Theme
*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 0px dotted ButtonText;
}

button:focus {
  outline-color: transparent;
  outline-width: 0px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, .root {
  font-size: 18px;
  line-height: 29px;
  font-family: Gill Sans, Gill Sans MT, sans-serif;
  font-weight: 400;
}

body, .article {
  font-size: 18px;
  line-height: 29px;
  margin: auto;
}

h1 {
  font-size: 76px;
  line-height: 87px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

h1::first-letter {
  margin-left: -5px;
}

h2 {
  font-size: 47px;
  line-height: 58px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

h2::first-letter {
  margin-left: -3px;
}

h3 {
  font-size: 29px;
  line-height: 58px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

h3::first-letter {
  margin-left: -1px;
}

h4 {
  font-size: 29px;
  line-height: 29px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

h4::first-letter {
  margin-left: -1px;
}

h5 {
  font-size: 12px;
  line-height: 29px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}

p {
  font-size: 18px;
  line-height: 29px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, ol, pre, table, blockquote {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.colour--sky {
  color: #53a5e3;
}
.colour--lavender {
  color: #70579f;
}
.colour--pink {
  color: #ed64af;
}
.colour--aqua {
  color: #11998e;
}
.colour--goo {
  color: #38ef7d;
}
.colour--crayon {
  color: #e86546;
}
.colour--rose {
  color: #e34f65;
}
.colour--black {
  color: #000000;
}
.colour--night {
  color: #242424;
}
.colour--fog {
  color: #424242;
}
.colour--smoke {
  color: #757575;
}
.colour--commando {
  color: #D0C8B3;
}
.colour--mist {
  color: #e0e0e0;
}
.colour--ghost {
  color: #f5f5f5;
}
.colour--halo {
  color: #fafafa;
}
.colour--white {
  color: #ffffff;
}
.colour--yellow {
  color: #FCC53B;
}
.colour--trustpilot {
  color: #00b67a;
}
.colour--stripe {
  color: #5433FF;
}
.colour--github {
  color: #4078c0;
}
.colour--letsencrypt {
  color: #2C3C69;
}
.colour--digitalocean {
  color: #1572FE;
}
.colour--youtube {
  color: #ff0000;
}
.colour--instagram {
  color: #F56040;
}
.colour--apple {
  color: #757575;
}
.colour--android {
  color: #a4c639;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 0px;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}

.vertical-rhythm-lined {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(to right, transparent 10px, rgba(255, 0, 0, 0.1) 10px, transparent 11px), linear-gradient(to left, transparent 10px, rgba(255, 0, 0, 0.1) 10px, transparent 11px), linear-gradient(rgba(0, 0, 255, 0.05) 1px, transparent 0);
  background-size: 8.3333333333% 29px;
}

.lh__1 {
  height: 29px;
}
.lh__2 {
  height: 58px;
}
.lh__3 {
  height: 87px;
}
.lh__4 {
  height: 116px;
}
.lh__5 {
  height: 145px;
}
.lh__6 {
  height: 174px;
}
.lh__7 {
  height: 203px;
}
.lh__8 {
  height: 232px;
}
.lh__9 {
  height: 261px;
}
.lh__10 {
  height: 290px;
}
.lh__11 {
  height: 319px;
}
.lh__12 {
  height: 348px;
}
.lh__13 {
  height: 377px;
}
.lh__14 {
  height: 406px;
}
.lh__15 {
  height: 435px;
}
.lh__16 {
  height: 464px;
}
.lh__17 {
  height: 493px;
}
.lh__18 {
  height: 522px;
}
.lh__19 {
  height: 551px;
}
.lh__20 {
  height: 580px;
}
.lh__21 {
  height: 609px;
}
.lh__22 {
  height: 638px;
}
.lh__23 {
  height: 667px;
}
.lh__24 {
  height: 696px;
}
.lh__25 {
  height: 725px;
}
.lh__26 {
  height: 754px;
}
.lh__27 {
  height: 783px;
}
.lh__28 {
  height: 812px;
}
.lh__29 {
  height: 841px;
}
.lh__30 {
  height: 870px;
}
.lh__31 {
  height: 899px;
}
.lh__32 {
  height: 928px;
}
.lh__33 {
  height: 957px;
}
.lh__34 {
  height: 986px;
}
.lh__35 {
  height: 1015px;
}
.lh__36 {
  height: 1044px;
}
.lh__37 {
  height: 1073px;
}
.lh__38 {
  height: 1102px;
}
.lh__39 {
  height: 1131px;
}
.lh__40 {
  height: 1160px;
}

.mt__1 {
  margin-top: 29px;
}
.mt__2 {
  margin-top: 58px;
}
.mt__3 {
  margin-top: 87px;
}
.mt__4 {
  margin-top: 116px;
}
.mt__5 {
  margin-top: 145px;
}
.mt__6 {
  margin-top: 174px;
}
.mt__7 {
  margin-top: 203px;
}
.mt__8 {
  margin-top: 232px;
}
.mb__1 {
  margin-bottom: 29px;
}
.mb__2 {
  margin-bottom: 58px;
}
.mb__3 {
  margin-bottom: 87px;
}
.mb__4 {
  margin-bottom: 116px;
}
.mb__5 {
  margin-bottom: 145px;
}
.mb__6 {
  margin-bottom: 174px;
}
.mb__7 {
  margin-bottom: 203px;
}
.mb__8 {
  margin-bottom: 232px;
}
.ml__0 {
  margin-left: 0px;
}
.ml__1 {
  margin-left: 29px;
}
.ml__2 {
  margin-left: 58px;
}
.ml__3 {
  margin-left: 87px;
}
.ml__4 {
  margin-left: 116px;
}
.ml__5 {
  margin-left: 145px;
}
.ml__6 {
  margin-left: 174px;
}
.ml__7 {
  margin-left: 203px;
}
.mr__0 {
  margin-right: 0px;
}
.mr__1 {
  margin-right: 29px;
}
.mr__2 {
  margin-right: 58px;
}
.mr__3 {
  margin-right: 87px;
}
.mr__4 {
  margin-right: 116px;
}
.mr__5 {
  margin-right: 145px;
}
.mr__6 {
  margin-right: 174px;
}
.mr__7 {
  margin-right: 203px;
}

.pt__1 {
  padding-top: 29px;
}
.pt__2 {
  padding-top: 58px;
}
.pt__3 {
  padding-top: 87px;
}
.pt__4 {
  padding-top: 116px;
}
.pt__5 {
  padding-top: 145px;
}
.pt__6 {
  padding-top: 174px;
}
.pt__7 {
  padding-top: 203px;
}
.pt__8 {
  padding-top: 232px;
}
.pb__1 {
  padding-bottom: 29px;
}
.pb__2 {
  padding-bottom: 58px;
}
.pb__3 {
  padding-bottom: 87px;
}
.pb__4 {
  padding-bottom: 116px;
}
.pb__5 {
  padding-bottom: 145px;
}
.pb__6 {
  padding-bottom: 174px;
}
.pb__7 {
  padding-bottom: 203px;
}
.pb__8 {
  padding-bottom: 232px;
}
.pl__0 {
  padding-left: 0px;
}
.pl__1 {
  padding-left: 29px;
}
.pl__2 {
  padding-left: 58px;
}
.pl__3 {
  padding-left: 87px;
}
.pl__4 {
  padding-left: 116px;
}
.pl__5 {
  padding-left: 145px;
}
.pl__6 {
  padding-left: 174px;
}
.pl__7 {
  padding-left: 203px;
}
.pr__0 {
  padding-right: 0px;
}
.pr__1 {
  padding-right: 29px;
}
.pr__2 {
  padding-right: 58px;
}
.pr__3 {
  padding-right: 87px;
}
.pr__4 {
  padding-right: 116px;
}
.pr__5 {
  padding-right: 145px;
}
.pr__6 {
  padding-right: 174px;
}
.pr__7 {
  padding-right: 203px;
}

.amp .main-navigation {
  position: relative;
  width: 100%;
  background-color: #242424;
  height: 58px;
}
.amp .main-navigation .hamburger {
  color: #ffffff;
  line-height: 58px;
  margin-left: 29px;
}
.amp .main-navigation .main-navigation__mobile-logo {
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 185 120'%3E%3Cg id='ldnpk' fill='none'%3E%3Cpath d='M24,24 L24,96 L106.639907,96 L59.9640453,24 L24,24 Z M78.3600926,24 L125.035955,96 L161,96 L161,24 L78.3600926,24 Z' id='ldnpk' stroke='%23FFFFFF' stroke-width='8'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 196px 58px;
  background-repeat: no-repeat;
  height: 58px;
  width: 196px;
}
.amp .main-navigation .main-navigation__mobile-logo:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 185 120'%3E%3Cg id='ldnpk' fill='none'%3E%3Cpath d='M24,24 L24,96 L106.639907,96 L59.9640453,24 L24,24 Z M78.3600926,24 L125.035955,96 L161,96 L161,24 L78.3600926,24 Z' id='ldnpk' stroke='%2338EF7D' stroke-width='8'/%3E%3C/g%3E%3C/svg%3E");
}
.amp .main-navigation .ampsidebar {
  background-color: #242424;
}
.amp .main-navigation .ampsidebar .close-sidebar {
  color: #ffffff;
  line-height: 58px;
  margin-left: 29px;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu {
  display: block;
  text-align: left;
  padding: 0px 29px 58px;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item {
  width: 100%;
  padding: 0px;
  display: block;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item a {
  display: block;
  width: 100%;
  height: 58px;
  line-height: 58px;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
  color: #fafafa;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item a i.icon {
  margin: 0px 10px;
  font-size: 18px;
  padding-top: 1px;
  line-height: 18px;
  vertical-align: text-top;
  width: 16px;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item.logo {
  text-align: center;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item.logo a {
  margin: 0 0;
  height: 58px;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item.logo__apple {
  margin-top: 58px;
  background-color: #757575;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item.logo__instagram {
  background-color: #F56040;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item.logo__youtube {
  background-color: #ff0000;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item.logo__android {
  background-color: #a4c639;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item.logo__londonparkour a {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 185 120'%3E%3Cg id='ldnpk' fill='none'%3E%3Cpath d='M24,24 L24,96 L106.639907,96 L59.9640453,24 L24,24 Z M78.3600926,24 L125.035955,96 L161,96 L161,24 L78.3600926,24 Z' id='ldnpk' stroke='%23FAFAFA' stroke-width='8'/%3E%3C/g%3E%3C/svg%3E");
  background-position: left;
  padding-left: 70px;
  background-size: 58px;
  background-repeat: no-repeat;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item ul.sub-menu {
  display: block;
  position: relative;
  box-shadow: none;
  padding: 0px;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item ul.sub-menu .menu-item {
  display: block;
  margin: 0px;
  background: none;
}
.amp .main-navigation .ampsidebar .menu-main-menu-container ul.menu > li.menu-item ul.sub-menu .menu-item a {
  color: #fafafa;
}

.amp .site-footer {
  color: #ffffff;
  background-color: #242424;
  padding: 29px;
  margin-top: 58px;
}
.amp .site-footer a {
  color: #ffffff;
  text-decoration: none;
}
.amp .site-footer a:active {
  color: #ffffff;
}
.amp .site-footer a:hover {
  color: #53a5e3;
  text-decoration: underline;
}
.amp .site-footer ul {
  list-style: none;
  padding: 0px;
}
.amp .site-footer ul li i {
  display: none;
}
.amp .site-footer .menu__mainmenu {
  margin-bottom: 58px;
}
.amp .site-footer .footer_column_one {
  margin-bottom: 58px;
}
.amp .site-footer .footer_column_two {
  display: none;
}

.amp-page--ghost {
  background-color: #f5f5f5;
}

.amp_padded {
  padding: 0px 8.33%;
}
.amp_padded--20 {
  padding: 0px 20px;
}

.amp-panel {
  height: 696px;
  max-height: 696px;
  background-color: #f5f5f5;
  padding: 29px;
  overflow: hidden;
  margin-bottom: 29px;
}
.amp-panel--rose {
  background: #e34f65;
}
.amp-panel--white {
  background: #ffffff;
}
.amp-panel--dark {
  background: #242424;
  color: #ffffff;
}
.amp-panel__third {
  display: inline-block;
  width: 33%;
  min-width: 425px;
}
.amp-panel--100 {
  height: 100%;
}

/*# sourceMappingURL=style-amp.css.map */
