//  ┌──────────────────────────────────────────────────────────────────────────┐
//  │                                                                          │
//  │                    WPBakery Inner Column Padding fix                     │
//  │                                                                          │
//  │ Each 'column' has an 'inner column' div. They all have padding to negate │
//  │           negative margins on the far left and right columns.            │
//  │                                                                          │
//  │This fix will remove all padding from all columns except the far left and │
//  │                               right ones.                                │
//  │                                                                          │
//  └──────────────────────────────────────────────────────────────────────────┘

.londonparkour {   
    .vc_column_container {

        //  ┌──────────────────────────────────────┐
        //  │This is the 'inner' padding inside the│
        //  │    columns. Remove it by default.    │
        //  └──────────────────────────────────────┘
        > .vc_column-inner{
            padding-left: 0px;
            padding-right: 0px;
        }

    }

    //  ┌──────────────────────────────────────┐
    //  │                                      │
    //  │ Remove the default min-height: 1px.  │
    //  │                                      │
    //  │ This screws up the vertical rhythm.  │
    //  │                                      │
    //  └──────────────────────────────────────┘
    .vc_col-xs-1, .vc_col-sm-1, .vc_col-md-1, .vc_col-lg-1, .vc_col-xs-2, .vc_col-sm-2, .vc_col-md-2, .vc_col-lg-2, .vc_col-xs-3, .vc_col-sm-3, .vc_col-md-3, .vc_col-lg-3, .vc_col-xs-4, .vc_col-sm-4, .vc_col-md-4, .vc_col-lg-4, .vc_col-xs-5, .vc_col-sm-5, .vc_col-md-5, .vc_col-lg-5, .vc_col-xs-6, .vc_col-sm-6, .vc_col-md-6, .vc_col-lg-6, .vc_col-xs-7, .vc_col-sm-7, .vc_col-md-7, .vc_col-lg-7, .vc_col-xs-8, .vc_col-sm-8, .vc_col-md-8, .vc_col-lg-8, .vc_col-xs-9, .vc_col-sm-9, .vc_col-md-9, .vc_col-lg-9, .vc_col-xs-10, .vc_col-sm-10, .vc_col-md-10, .vc_col-lg-10, .vc_col-xs-11, .vc_col-sm-11, .vc_col-md-11, .vc_col-lg-11, .vc_col-xs-12, .vc_col-sm-12, .vc_col-md-12, .vc_col-lg-12,
    .vc_col-xs-1\/5, .vc_col-sm-1\/5, .vc_col-md-1\/5, .vc_col-lg-1\/5, .vc_col-xs-2\/5, .vc_col-sm-2\/5, .vc_col-md-2\/5, .vc_col-lg-2\/5, .vc_col-xs-3\/5, .vc_col-sm-3\/5, .vc_col-md-3\/5, .vc_col-lg-3\/5, .vc_col-xs-4\/5, .vc_col-sm-4\/5, .vc_col-md-4\/5, .vc_col-lg-4\/5, .vc_col-xs-5\/5, .vc_col-sm-5\/5, .vc_col-md-5\/5, .vc_col-lg-5\/5 {
        min-height: 0px;
    } 
    
}
