@media (max-width: $tablet) {

    .ig-news__container {

        .ig-news {
            width: 100%;
            margin: 0px 0px 29px 0px !important;

            &__image {
                background-size: auto 100%;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            } 

        }

    }
}