.amp-carousel-slide {
    .amp-caption {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: #fff;
        padding: 5px;
        text-align: center;
        height: 39px;
        overflow: hidden;
    }
}