.amp-link {
    display: block;
    line-height: 87px;
    width: 16.6%;
    text-align: center;
    text-decoration: none;
    color: $white;
    overflow: hidden;

    &::after { 
        content: "";
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        vertical-align: sub;
        background-position: center;
        display: inline-block;
        background-image: url('data:image/svg+xml;utf-8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="%23FFFFFF" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>');
    }

    &:hover {
        background-color: $night;
        color: $white;
    }

    &--crayon {
        background-color: $crayon;
        &:hover { background-color: $night; }
    }
    &--sky {
        background-color: $sky;
        &:hover { background-color: $night; }
    }
    &--lavender {
        background-color: $lavender;
        &:hover { background-color: $night; }
    }
    &--aqua {
        background-color: $aqua;
        &:hover { background-color: $night; }
    }
    &--rose {
        background-color: $rose;
        &:hover { background-color: $night; }
    }
    &--dark {
        background-color: $night;
        &:hover { background-color: $white; color: $night; }
    }
    &--ghost {
        background-color: $ghost;
        color: $night;
        &:hover { background-color: $night; color: $ghost; }
    }

    &__center {
        margin-left:auto;
        margin-right:auto;
    }

    &__fullwidth {
        width:100%;
    }
}