//  ┌─────────────────────────────────────────────────────────────────────────┐ 
//  │                                                                         │░
//  │                            Standard Padding                             │░
//  │                                                                         │░
//  └─────────────────────────────────────────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
.mq {

    &-responsiveSidePadding {

        padding-left: 29px !important;
        padding-right: 29px !important;

    }

}

//  ┌─────────────────────────────────────────────────────────────────────────┐ 
//  │                                                                         │░
//  │                           Responsive Padding                            │░
//  │                           29px - 20px - 10px                            │░
//  │                                                                         │░
//  └─────────────────────────────────────────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
.responsive-padding {
    &__29-20-10 {
        padding-left: 29px !important;
        padding-right: 29px !important;
    }
}