// ┌─────────────────────────────────────┐ 
// │                                     │░
// │   Tablet-based responsive utility   │░
// │               classes               │░
// │                                     │░
// └─────────────────────────────────────┘░
//  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░


// ┌──────────────────────────────────────┐
// │       mq-responsiveSidePadding       │
// │   Remove padding below tablet size   │
// └──────────────────────────────────────┘
@media (max-width: $tablet) {

    .mq {

        &-responsiveSidePadding {

            padding-left: 20px !important;
            padding-right: 20px !important;

        }

    }

    .responsive-padding {
        &__29-20-10 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }
    
}
    