.random-video {

    position: relative;
    display: table;
    padding: 87px 8.33%;
    width: 100%;
    height: 100%;

    &__wrap {

        &--outdoor {
            background: $rose;
            color: $white;
        }

        &--indoor {
            background: $crayon;
            color: $white;
        }

        &--pt {
            background: $sky;
            color: $white;
        }

        &--youth {
            background: $goo;
            color: $white;
        }

        &--private {
            background: $aqua;
            color: $white;
        }

        &--commandotemple {
            background: $commando;
            color: $night;
        }

    }

    &__left {
        
        width: 50%;
        float: left;
        height: 406px;
        padding-right: 29px;

    }

    &__meta {
            
        padding-top: 58px;

        a {
            color: $night;
            line-height: 58px;
            background: $white;
            padding: 0px 29px;
            display: inline-block;
            margin-top: 29px; 

            &:hover {
                color: $white;
                background: $night;
            }
        }

    }


    &__lite-yt {
        height: 406px;
        width: 50%;
        display: inline-block;
    }

    // .lty-playbtn {
    //     width: 87px; 
    //     height: 87px;
    //     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='87' viewBox='0 0 24 24' width='87'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z' fill='%23fff'/%3E%3C/svg%3E%0A");
    // }

} 


// Change widths on tablet. 
@media (max-width: $tablet) {
    .random-video {

        &__left {
            width: 100%;
            height: initial;
            float: none;
            padding: 0px 0px 29px;
        }

        &__meta {
            padding-top:0px;
        }

        &__lite-yt {
            width: 100%;
        }
    }
}

// Change widths on tablet.
@media (max-width: $mobile) {
    .random-video {
        &__meta {}
        &__lite-yt {}
    }
}