// ┌─────────────────────────────────────┐ 
// │                                     │░
// │                                     │░
// │         Transition Effects          │░
// │                                     │░
// │                                     │░
// └─────────────────────────────────────┘░
//  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// note - display: block causes issues with transitions.
// use visibility instead.
@mixin fx_fadein{

    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    
}