// ┌─────────────────────────────────────┐ 
// │                                     │░
// │                                     │░
// │          Encode colour hex          │░
// │                                     │░
// │  Used for the logo SVGs, this will  │░
// │  convert #242424 into %2324242424.  │░
// │                                     │░
// │                                     │░
// └─────────────────────────────────────┘░
//  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

@function encodecolor($string) {
	@if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}