// ┌─────────────────────────────────────────────────────────────────────────┐
// │                                                                         │
// │                        String replace function                          │
// │                                                                         │
// └─────────────────────────────────────────────────────────────────────────┘
// https://css-tricks.com/creating-a-maintainable-icon-system-with-sass/
@function str-replace( $string, $search, $replace: '' ) {

    $index: str-index( $string, $search );

    @if $index {
        @return str-slice( $string, 1, $index - 1 ) + $replace + str-replace( str-slice( $string, $index + str-length( $search ) ), $search, $replace);
    }

    @return $string;
}


// ┌─────────────────────────────────────────────────────────────────────────┐
// │                                                                         │
// │               Function for getting icon from map above.                 │
// │                                                                         │
// └─────────────────────────────────────────────────────────────────────────┘
$data-svg-prefix: 'data:image/svg+xml;utf-8,';
@function get-icon( $icon, $color: #fff ) {

    @if 'color' != type-of( $color ) {

        @warn 'The requested color - "' + $color + '" - was not recognized as a Sass color value.';
        @return null;
    }

    @if map-has-key( $icons, $icon ) {

        $icon:        map-get( $icons, $icon );
        $placeholder: '%%COLOR%%';
        $data-uri:    str-replace( url( $data-svg-prefix + $icon ), $placeholder, $color );

        @return str-replace( $data-uri, '#', '%23' );
    }

    @warn 'The requested icon - "' + $icon + '" - is not defined in the $icons map.';
    @return null;
}

// All Filters are defined in the svg_filters.html file.
// use https://css-tricks.com/the-many-ways-to-change-an-svg-fill-on-hover-and-when-to-use-them/
@mixin svgmodifier($pseudo:"") {
    &--sky#{$pseudo} {  filter: url(#sky); }
    &--lavender#{$pseudo} { filter: url(#lavender); }
    &--pink#{$pseudo} { filter: url(#pink); }
    &--aqua#{$pseudo} { filter: url(#aqua); }
    &--goo#{$pseudo} { filter: url(#goo); }
    &--crayon#{$pseudo} { filter: url(#crayon); }
    &--rose#{$pseudo} { filter: url(#rose); }
    &--black#{$pseudo} { filter: url(#black); }
    &--night#{$pseudo} { filter: url(#night); }
    &--fog#{$pseudo} { filter: url(#fog); }
    &--smoke#{$pseudo} { filter: url(#smoke); }
    &--commando#{$pseudo} { filter: url(#commando); }
    &--mist#{$pseudo} { filter: url(#mist); }
    &--ghost#{$pseudo} { filter: url(#ghost); }
    &--halo#{$pseudo} { filter: url(#halo); }
    &--white#{$pseudo} { filter: url(#white); }
    &--yellow#{$pseudo} { filter: url(#yellow); }

    &--trustpilot#{$pseudo} { filter: url(#trustpilot); }
    &--stripe#{$pseudo} { filter: url(#stripe); }
    &--github#{$pseudo} { filter: url(#github); }
    &--letsencrypt#{$pseudo} { filter: url(#letsencrypt); }
    &--digitalocean#{$pseudo} { filter: url(#digitalocean); }

    &--youtube#{$pseudo} { filter: url(#youtube); }
    &--instagram#{$pseudo} { filter: url(#instagram); }
    &--apple#{$pseudo} { filter: url(#apple); }
    &--android#{$pseudo} { filter: url(#android); }
}