.mec-search-form {
    position: absolute;
    right: 0px;
    top: 58px;
    padding: 20px 5px;

    .mec-dropdown-search {

        select {
            margin-bottom: 0px !important; 
        }
    }
    
}

@media (max-width: $tablet) {
    .mec-search-form {
        position: relative; 
    }
}