#progress {
    position: fixed;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    background: $mist;
    z-index: 10;
      
    &__bar {
        height: 4px;
        background: $night;
        width: 0%;
    }
}

.home #progress     { background: $bluepink; &__bar{ background: $mist; } }
.classes #progress  { background: $rose; }
.pt #progress       { background: $sky; }
.private #progress  { background: $aqua; } 
.tutorials #progress{ background: $crayon; &__bar{ background: $mist; }  }
.contact #progress  { background: $night; &__bar{ background: $mist; } }