$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


//  ┌──────────────────────────────────────┐ 
//  │                                      │░
//  │               Colours                │░
//  │                                      │░
//  └──────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░


$sky: #53a5e3;
$lavender: #70579f;
$pink: #ed64af;
$aqua: #11998e;
$goo: #38ef7d;
$crayon: #e86546;
$rose: #e34f65;
$black: #000000;
$night: #242424;
$fog: #424242;
$smoke: #757575;
$commando: #D0C8B3;
$mist: #e0e0e0;
$ghost: #f5f5f5;
$halo: #fafafa;
$white: #ffffff;
$yellow: #FCC53B;

$trustpilot: #00b67a;
$stripe: #5433FF;
$github: #4078c0;
$letsencrypt: #2C3C69;
$digitalocean: #1572FE;

$youtube: #ff0000;
$instagram: #F56040;
$apple: #757575;
$android: #a4c639;

//  ┌──────────────────────────────────────┐ 
//  │                                      │░
//  │                                      │░
//  │            RGBa Gradients            │░
//  │                                      │░
//  │                                      │░
//  └──────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

$bluepink: linear-gradient(45deg, rgba(83,165,227,1) 0%,rgba(112,87,159,1) 50%,rgba(237,100,175,1) 100%);