section {
    margin-bottom: 29px;


    //  ┌─────────────────────────────────────────────────────────────────────────┐ 
    //  │                                                                         │░
    //  │                                 Headers                                 │░
    //  │                                                                         │░
    //  └─────────────────────────────────────────────────────────────────────────┘░
    //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    h3 {
        
        a {
            color: $white;
            text-decoration: none;

            &:active,
            &:visited {
                color: $white;
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
        

        // Icon before
        &:before {
            font-family: "Material Icons";
            font-size: 29px;
            line-height: 58px;
            margin-right: 10px;
            vertical-align: sub;
            color: $white;
        }
    }


    //  ┌─────────────────────────────────────────────────────────────────────────┐ 
    //  │                                                                         │░
    //  │                             Specific Menus                              │░
    //  │                                                                         │░
    //  └─────────────────────────────────────────────────────────────────────────┘░
    //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

    // Tutorials
    &#nav_menu-3 {
        h3:before {
            content: '\e04a';  
        }
        li.menu-item {
            padding-left: 10px; 
        }
    }

    // Filters
    &#custom_html-2 {
        h3:before {
            content: '\e152';  
        }
    }

    //  ┌─────────────────────────────────────────────────────────────────────────┐ 
    //  │                                                                         │░
    //  │                                Menu List                                │░
    //  │                                                                         │░
    //  └─────────────────────────────────────────────────────────────────────────┘░
    //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
    ul.menu {

        list-style: none;
        padding-left: 0px;

        li.menu-item {
                    
            color: $white;

            &.menu-item-current { 
                background-color: #F5F5F5;
            } 

            a {
                color: $white;
                text-decoration: none;

                &:hover { 
                    text-decoration: underline;
                    color: $crayon;
                } 

                &:active {
                    text-decoration: underline;
                    color: $crayon;
                } 

                &:visited {
                    color: $white;
                }
            }
        }

        .sidebar__categories {
            padding-left: 0px !important; 
            text-decoration: underline;
        }
    }


    ul.tutorial-filters {

        li {

            &.icon-flip {
                &::before {
                    transform: rotate(180deg);
                }
            }

            &:before {
                font-family: "Material Icons";
                font-size: 18px;
                line-height: 29px;
                margin-right: 10px;
                vertical-align: sub;
                display: inline-block;
            }


            &.item-alpha {
                &:before {
                    content: '\e053';
                }
            }
            &.item-newest {
                &:before {
                    content: '\e031';
                }
            }
            &.item-oldest {
                &:before {
                    content: '\e16d';
                }
            }
            &.item-popularity {
                &:before {
                    content: '\e87d';
                }
            }
        }

    }
}

// Switch over views
.sidemenu__desktop { display: initial; }
.sidemenu__mobile { 
    display: none; 
    width: 100%;
    height: 58px;
    float: left;

    select {
        height: 29px;
        border: 0px;
        width: 40%;
        margin-right: 29px;
    }
}

@media (max-width: $tablet) {
    .sidemenu__desktop { display: none; }
    .sidemenu__mobile { display: initial; }
}