.tutorial-video {

    .item {

        float: left;
        width: 100%;
 
        &__link {

        } 
 
        &__title {
            color: $white;
            margin: 58px 16.6% 29px 0px;
        }
 
        &__description {
            color: $white;
            margin-right: 16.6%;
        }

        &__embed {
            height: 580px;

            iframe {
                height: 580px;
                width: 100%;
            }
        }

        &__image {
        }

    }

 } 
