.amp {

    .site-footer {

        .vc_row {
            background-position: center 100%;
            background-repeat: no-repeat;
            background-size: 100% auto;

            > .wpb_column {
                background: $night;
                padding: 29px;
            }
        }
    
        p {
            color: $white;
        }
    } 
}