//  ┌──────────────────────────────────────┐ 
//  │                                      │░
//  │           Ken Burns Effect           │░
//  │                                      │░
//  └──────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

.kenburns {
    
    @supports(display: grid){

        > * {
            transition: 3s linear;
            background-size: 105% !important;
            transition: 3s linear;
        }
    
        //  ┌────────────────────────────────────────────────┐
        //  │                                                │
        //  │                  Do the magic                  │
        //  │                                                │
        //  └────────────────────────────────────────────────┘
        &:hover {
            > * {
                background-size: 130% !important;
            }
        }
        
    }
    

}