.initial { display: initial; }
.visible { display: block; }
.hidden { display: none; }

.show { display: initial; }
.hide { display: none; }

.toggle {
    &--on { display: initial; }
    &--off { display: none; }
}