a {
	color: $sky;

	&:visited {
		color: $sky;
	}
	&:hover,
	&:focus,
	&:active {
		color: $night;
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.link {
    text-decoration: none;
	transition:.25s ease-in-out;	

	&:hover {
        span {
            border-bottom: 1px solid;
        }
	}
	
	&__arrow {

        content: "";
        width: 20px;
        height: 20px;
		background-repeat: no-repeat;
		background-position: center;
        vertical-align: sub;
        display: inline-block;

        &--up::after {
            @extend .button__arrow;
            background-image: get-icon( 'chevron-up', #FFFFFF );
        }

        &--right::after {
            @extend .button__arrow;
            background-image: get-icon( 'chevron-right', #FFFFFF );
        }

        &--down::after {
            @extend .button__arrow;
            background-image: get-icon( 'chevron-down', #FFFFFF );
        }

        &--left::before {
            @extend .button__arrow;
            background-image: get-icon( 'chevron-left', #FFFFFF );
        }

    }
}
