
// ┌─────────────────────────────────────┐ 
// │                                     │░
// │      Helper - Vertical Rhythm       │░
// │   Add ruled lines onto the page.    │░
// │                                     │░
// └─────────────────────────────────────┘░
//  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░


//  ┌──────────────────────────────────────┐
//  │        Base widths & heights.        │
//  └──────────────────────────────────────┘
$columns:12;
$column_width:100%/$columns;
$line_height:29px;
$gutter:10px;

//  ┌──────────────────────────────────────┐
//  │               Colours                │
//  └──────────────────────────────────────┘
$grid_colour:rgba(255,0,0,.1);
$rhythm_colour:rgba(0,0,255,.05);

//  ┌──────────────────────────────────────┐
//  │              Main Grid               │
//  └──────────────────────────────────────┘
.vertical-rhythm-lined {
    background-image: 
        linear-gradient(to right, #{$grid_colour} 1px, transparent 1px),   // far left line.
        linear-gradient(to right, transparent #{$gutter}, #{$grid_colour} #{$gutter}, transparent #{$gutter+1}),  // left gutter.
        linear-gradient(to left, transparent #{$gutter}, #{$grid_colour} #{$gutter}, transparent #{$gutter+1}),   // right gutter.
        linear-gradient(#{$rhythm_colour} 1px, transparent 0);
    
    background-size: #{$column_width} #{$line_height};    // 29px vertical rhythm, 8.33% columns (1/12th)
}