.c-button {

    &__youtube {

        margin-top: 58px;
        color: $white !important;
        text-decoration: none;
        line-height: 29px;
        display: block;

        &::before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 4px 5px 0px 0px;
            vertical-align: text-top;
            @include logo-youtube($youtube);
        }

        &:active,
        &:visited {
            color: $white !important;
        }

        &:hover {
            color: $youtube !important;
        }
    }
}