//  ┌──────────────────────────────────────┐
//  │     Brand Logos and Social Media     │
//  └──────────────────────────────────────┘
&.logo {
    //hide the text;
    line-height: 0; 
    font-size: 0;
    color: transparent;
    padding: 0px;

    //  ┌──────────────────────────────────────┐
    //  │  Default background size for logos   │
    //  └──────────────────────────────────────┘
    a {
        display: block;
        background-size: 18px 36px;
        background-repeat: no-repeat;
        background-position: center center;
        height:58px;
        width:29px;
        margin: 0px 10px; 
    }
    
    //  ┌──────────────────────────────────────┐
    //  │     LondonParkour logo + text        │
    //  └──────────────────────────────────────┘
    &__londonparkour a {
        
        @include logo-ldnpktext($night);
        background-size: 196px 58px;
        height:58px; 
        width:196px;
        margin: 0px; 

        &:hover {
            @include logo-ldnpktext($sky);
        }
    }

    //  ┌──────────────────────────────────────┐
    //  │              Apple logo              │
    //  └──────────────────────────────────────┘
    &__apple a {
        @include logo-apple($night);

        &:hover {
            @include logo-apple($smoke);
        }
    }


    //  ┌──────────────────────────────────────┐
    //  │            Android logo              │
    //  └──────────────────────────────────────┘
    &__android a {
        @include logo-android($night);

        &:hover {
            @include logo-android($aqua);
        }
    }

    //  ┌──────────────────────────────────────┐
    //  │           Instagram logo             │
    //  └──────────────────────────────────────┘
    &__instagram a {
        @include logo-instagram($night);

        &:hover {
            @include logo-instagram($crayon);
        }
    }

    //  ┌──────────────────────────────────────┐
    //  │            YouTube logo             │
    //  └──────────────────────────────────────┘
    &__youtube a {
        @include logo-youtube($night);

        &:hover {
            @include logo-youtube($rose);
        }
    }

}