// ┌─────────────────────────────────────┐ 
// │                                     │░
// │                                     │░
// │  Custom Wordpress CSS-Only Flexbox  │░
// │              Mega-menu              │░
// │                                     │░
// │                                     │░
// └─────────────────────────────────────┘░
//  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// Note : Uses material-icons. To be IE Compatible, you need to use the unicode
// <i class="material-icons">&#xE8E8;</i>
// make sure &#x is before the code and ; is after.
// Codes are here: https://github.com/google/material-design-icons/blob/master/iconfont/codepoints

$font-size: 16px; 
$background_color: transparent;

//  ┌──────────────────────────────────────┐
//  │  Hide the _underscores mobile button │
//  └──────────────────────────────────────┘
.menu-toggle { 
    display: none;
}

//  ┌──────────────────────────────────────┐
//  │            Menu Container            │
//  └──────────────────────────────────────┘
.main-navigation {

    position: absolute;
    top: 0; 
    width: 100%;
    height: 58px;
    font-size: $font-size;
    z-index: 100;

    // Hide The mobile button by default.
    .main-navigation__mobile-toggle-button {
        display: none;
    }

    ul.menu, 
    ul.nav-menu {
        background-color: $background_color;
        list-style: none;
        padding: 0px;
        text-align: center; // Key to centered Items!
        
        //  ┌──────────────────────────────────────┐
		//  │         Top-level list items         │
		//  └──────────────────────────────────────┘
		> li.menu-item {

            // Flaots first
			display: block;
            float: left;
            
            line-height: 58px;
			padding: 0px 10px 0px 10px;
			max-height: 58px;

            &__center {
                float: none;
                display: inline-block;
            }

            &__right {
                float: right;
            }

            //  ┌──────────────────────────────────────┐
			//  │              Inner Link              │
			//  └──────────────────────────────────────┘
			a {
				display: block;
				position: relative;
				color: $night;
				text-decoration: none;
                line-height: 58px;
                font-weight: 600;
                
            }

            //  ┌──────────────────────────────────────┐
            //  │         Icons next to items          │
            //  └──────────────────────────────────────┘
            
            > a > .mdi {
                margin: 0px 10px;
                width: 16px;
                height: 16px;
                filter: url(#smoke);
            }
            

            // ┌─────────────────────────────────────┐ 
			// │                                     │░
			// │                                     │░
			// │            STATE Changes            │░
			// │                                     │░
			// │                                     │░
			// └─────────────────────────────────────┘░
			//  ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
			&:hover {
				
				> a {
					text-decoration-color: $mist;

                    .mdi {
                        @include svgmodifier();
                    }
				}

				//  ┌──────────────────────────────────────┐
				//  │           Display submenu            │
				//  └──────────────────────────────────────┘
				ul.sub-menu {
					visibility: visible;
					opacity: 1;
				}
            }
            
            
            //  ┌───────────────────────────────────────────┐ 
            //  │                                           │░
            //  │              SUBMENU IMPORT               │░
            //  │                                           │░
            //  └───────────────────────────────────────────┘░
            //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 
            @import "submenu";

            //  ┌───────────────────────────────────────────┐ 
            //  │                                           │░
            //  │               LOGO  IMPORT                │░
            //  │                                           │░
            //  └───────────────────────────────────────────┘░
            //   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 
            @import "logos";

        }
    }    
}

//  ┌───────────────────────────────────────────┐ 
//  │                                           │░
//  │              SPECIAL CASES                │░
//  │                                           │░
//  └───────────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 
@import "menu_modifiers";

//  ┌───────────────────────────────────────────┐ 
//  │                                           │░
//  │              TABLET MENUs                 │░
//  │                                           │░
//  └───────────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 
@import "menu_tablet";

//  ┌───────────────────────────────────────────┐ 
//  │                                           │░
//  │              MOBILE MENUs                 │░
//  │                                           │░
//  └───────────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ 
@import "menu_mobile";