.widget-area {

    .widget_nav_menu {

        // convert h2 to h3 size.
        h2.widget-title {
            font-size: 29px;
            line-height: 58px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-weight: 400;
        }

        .menu-articles-dashboard-container {

            ul {
        
                padding: 0px 20px;
                list-style: none;
                
                li {

                    line-height: 58px;
                    overflow: hidden;
                    height: 58px;

                    &.menu-item-current {
                        background-color: #F5F5F5;
                    }
                    a {
                        text-decoration: none;
                        color: #757575;

                        &:hover {
                            color: #53A5E3;
                        }

                        &:active {
                            color: #E34F65; 
                        }

                        .menu-item-icon {
                            font-size: 24px;
                            padding-top: 2px;
                            line-height: 16px;
                            vertical-align: text-top;
                            width: 16px;
                            margin-right: 16px; 
                        }
                        
                    }
                    &.menu-item-icon::before {
                        font-size: 24px;
                        line-height: 23px;
                        vertical-align: text-top;
                        width: 16px;
                        margin-right: 7px;
                        margin-left: 4px;
                        font-family: "Material Icons";
                        color: #757575;
                    }
                    &.view_quilt::before {
                        content: '\e8f1';
                    }
                    &.chrome_reader_mode::before {
                        content: '\e86d';
                    }
                    &.theaters::before {
                        content: '\e8da';
                    }
                    &.subscriptions::before {
                        content: '\e064';
                    }
                    &.play_circle_filled::before {
                        content: '\e038';
                        color: $youtube;
                    }
                    
                }
                
            }
        } 
    }
}