.menu {

    &__social-media {

        margin-top: 29px;
    
        ul {
    
            &#menu-social-media {
    
                list-style: none;
                padding: 0px;
                height: 29px;
    
                li { 
    
                    display: inline-block;
                    float: left;
                    height: 29px;
                    width: 58px;
    
                    a {
                        text-indent: -9999px;
                        display: block;
                        height: 29px;
                        line-height: 29px;
                        background-size: 24px auto;
                        background-position: 0% 50%;
                        background-repeat: no-repeat;
    
                    }
                }
            }
        }
    }
    
    &__instagram a {
        @include logo-instagram($white);
    
        &:hover {
            @include logo-instagram($crayon);
        }
    }
    &__youtube a {
        @include logo-youtube($white);
    
        &:hover {
            @include logo-youtube($rose);
        }
    }
    &__android a {
        @include logo-android($white);
    
        &:hover {
            @include logo-android($goo);
        }
    }
    &__apple a {
        @include logo-apple($white);
    
        &:hover {
            @include logo-apple($smoke);
        }
    }
}