            //  ┌──────────────────────────────────────┐
			//  │          Second level list           │
			//  └──────────────────────────────────────┘		
			ul.sub-menu {
				display: block;
				position: absolute;
				top:58px;
				left: 0;
				z-index:3;

				width: 100%;
				padding: 20px;

				background: $white;
				list-style: none;
				box-shadow: 0 10px 15px 0px rgba(0, 0, 0, 0.05);

				@include goldenGrid(#999, 2);

				//  ┌──────────────────────────────────────┐
				//  │        Animation Transitions         │
				//  └──────────────────────────────────────┘
				@include fx_fadein();

				//  ┌──────────────────────────────────────┐
				//  │             Keep Visible             │
				//  └──────────────────────────────────────┘	
				&:hover {
					visibility: visible;
					opacity: 1;
				}

				

				//  ┌──────────────────────────────────────┐
				//  │             Submenu item             │
				//  └──────────────────────────────────────┘
				.menu-item {

					display: inline-block;
					width: 180px;
					margin: 20px 40px 20px 20px;

					a {
						display: block;
                        line-height: 29px;
						text-align: left;
						font-weight: 600;

						.mdi {
							width: 29px;
							font-size: 18px;
							padding-right: 5px;
							@include colourmodifier(); 
						}

						
						&:hover {
							color: $smoke;

							.icon {
								@include colourmodifier();
							}

						}


						//  ┌──────────────────────────────────────┐
						//  │             Description              │
						//  └──────────────────────────────────────┘
						.menu-item-description {
							font-size: 14px;
							font-weight: 400;
						}

						//  ┌──────────────────────────────────────┐
						//  │               Image                  │
						//  └──────────────────────────────────────┘
						.menu-item-image {
							width: 180px;
							height: 101px;
							background-position: left center;
							background-repeat: no-repeat;
							background-size: cover; 
							margin-bottom: 15px;
							border-radius: 4px;
						}

					}

				}
				
			}