.site-footer {

    .vc_row {
        background-position: center 100% !important;
        background-repeat: no-repeat !important;
        background-size: 100% auto !important;
    }

    p {
        color: $white;
    }
} 