//  ┌───────────────────────────────────────────┐ 
//  │                                           │░
//  │ Blockout - Image                          │░
//  │                                           │░
//  │ This class will be applied to the         │░
//  │ targeted IMG that the anime JS is working │░
//  │ on.                                       │░
//  │                                           │░
//  │ It will set the default borders, image    │░
//  │ size, box size, etc...                    │░
//  │                                           │░
//  └───────────────────────────────────────────┘░
//   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// accompanying JS file is in londonparkour_v4/js/anime_fx.js

.anime {

    &__blockoutimg { 

        height: 100%;
        width: 100%;
        
        object-fit: cover;
        object-position: top;
        box-sizing: border-box;
        
        border-top-color: #ffffff;
        border-top-style: solid;
        border-top-width: 0px;
        border-bottom-color: #ffffff;
        border-bottom-style: solid;
        border-bottom-width: 0px;
          
    }

}